*:focus{
    outline: none;
}

:root {
    --fb-blue:#0a86f0;
    --fb-black:#090909;
    --fb-red:#ee2340;
    --fb-green:#3db557;
    --fb-yellow:#f6b024;
    --fb-bgcolor:#eef0f3;
    --fb-white:#ffffff;
    --fb-whiteng:#a6a6a6;
    --dark-color-text: #090909;
    --light-color-text: #606770;
    --button-link: #e0e2e8;
    --stories-bg: #090909;
    --shadow-color: #adadae;

}

body{
    background: var(--fb-bgcolor);
    font-family: helvetica, arial, sans-serif;
    color: var(--fb-black);
}
.container{
    display: flex;
    justify-content:center;
    align-items:center;
}
header{
    background: var(--fb-white);
    position: fixed;
    height:62px;
    display:flex;
    padding: 0 15px;
    align-items: center;
    justify-content:space-between;
    width:100%;
    box-shadow: 0px 0px 5px 0px var(--shadow-color);
    z-index: 20;
    top: 0;
    left: 0;
}

.header__logo-section{
   display: flex; 
}
.header__logo-icon .fa-facebook{
    font-size: 40px;
    color: var(--fb-blue);
}
.header__logo-search{
    position: relative;
    margin-left: 10px;
    cursor: pointer;
}

.header__logo-search .fa-search{
    position: absolute;
    top: 14px;
    left: 10px;
    color: var(--light-color-text);
}

.header__logo-search input[type="text"]{
    background: var(--fb-bgcolor);
    padding: 10px;
    border-radius: 25px;
    font-size:1.2rem;
    color: var(--light-color-text);
    padding-left:35px;
    border: none;
    margin-right: 20px;

}

.header__logo-search input:hover{
    background: #DADDE1;
}

.header__mobile-button {
    display:none;
    justify-content:center;
    align-items: center;
    font-size: 1.7rem;
}


.header__menu-tabs{
    display: flex;
    max-width: 600px;
    width: 100%;
    flex: none;
}

.header__menu-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height:62px;
    border-bottom: 4px solid var(--fb-whiteng);
    color: var(--light-color-text);
    cursor: pointer;
    font-size: 1.3rem;
}

.header__menu-tab--active, .header__menu-tab:hover{
    border-bottom: 4px solid var(--fb-blue);
}
.header__menu-tab:hover .fas, .header__menu-tab :hover .fab{
    color: var(--fb-blue);
}
.header__menu-tab--active .fas, .header__menu-tab--active .fab{
    color: var(--fb-blue);
}

.header__menu-tab .fas, .header__menu-tab .fab{
    position: relative;
} 
.header__notification-bubble{
    font-family: Arial, Helvetica, sans-serif;
    background: var(--fb-red);
    color: white;
    width: 20px;
    height: 20px;
    font-size:.8rem;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    right: -10px;
    font-weight: 700;
}

.header__account{
    display: flex;
}
.header__actions{
    display:flex;
    justify-content:center;
    align-items: center;
}

.header__user-img{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-right: 10px;
    cursor: pointer;
    
}

.header__user-name{
    font-size: .9rem;
    font-weight: 600;
    margin-right: 20px;
    cursor: pointer;
}

.header__circle-link{
    background: var(--button-link);
    height: 40px;
    width: 40px;
    display: flex;
    border-radius: 50%;
    color: var(--dark-color-text);
    display: flex;
    justify-content:center;
    align-items: center;
    text-decoration: none;
    margin-right: 10px;
}
.header__circle-link .fa-sort-down{
position: relative;
top: -3px;
font-size: 1.4rem;
}
.header__link-icon{
    font-size:.9rem;
    display: flex;
    position: relative;
}
.header__link-icon-bubble{
    font-family: Arial, Helvetica, sans-serif;
    background: var(--fb-red);
    color: white;
    width: 21px;
    height: 21px;
    font-size:.8rem;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 50%;
    position:absolute;
    top:-6px;
    right:-8px;
    font-weight: 700;
}

.content-area--feed{
    padding: 90px 15px 20px;
    display: flex;
    
    
}

.sidenav{
    width: 20%;
   
}

.sidenav__item{
    display: flex;
    align-items: center;
   margin-bottom: 15px;
   cursor: pointer;
    
}
.sidenav__item:hover{
    background: #DADDE1;
}
.sidenav__item-img{
    border-radius:50%;
    height:40px;
    width: 40px;
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
}
.sidenav__item-title{
    font-size: 1rem;
    font-weight: 600;
}
.sidenav__item-icon{
    height:40px;
    width: 40px;
    margin-right: 20px;
    display: flex;  
    justify-content:center;
    align-items:center;
    font-size: 25px;
    
}
.sidenav__item-notification{
    color: var(--fb-blue);
    margin-top: 5px;
    font-size: .75rem;
    display:block;
    font-weight: 300;
}
.sidenav__item-notification-circle{
    background: var(--fb-blue);
    display:inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 5px;
} 
.sidenav__item-icon-circle{
    background: var(--button-link);
    border-radius: 50%;
    font-size: .9rem;
} 
.sidenav__item-icon--circle-white{
    background: var(--button-link);
    border-radius: 50%;
    font-size: 1rem;
    width: 35px;
    height: 35px;
}
.sidenav__item-icon--circle-blue{
    background: var(--fb-blue);
    border-radius: 50%;
    font-size: 1rem;
}  
.sidenav__item-icon .fas, .sidenav__item-icon .fab{
    color: var(--fb-blue);
}
.sidenav__item-icon--circle .fas, .sidenav__item-icon--circle .fab{
    color: var(--fb-black);
}
.sidenav__item-icon--circle-white .fas, .sidenav__item-icon--circle-white .fab{
    color: var(--fb-black);
}
.sidenav__line{
    height:3px;background: var(--button-link);
    margin-bottom:15px;
    display: block;
}
.sidenav__heading-title{
    display: block;
    color: var(--light-color-text);
    font-size: 1.1rem;
    margin-bottom: 15px;
}
.feed{
    width:70%;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
   
    
}
.stories{
    display: flex;
    max-width: 700px;
    width: 100%;
    margin: 20px;
}
.stories__video-container{
    overflow: hidden;
    width:135px;
    height:200px;
    border-radius: 5px;
    background: var(--stories-bg);
    position:relative;
    box-shadow: 0px 2px 2px 0px var(--shadow-color) ;
    margin-right: 10px;
    cursor: pointer;
}
.stories__video-container:nth-last-child(1){
    margin-right: 0px;
}
.stories__bg{
    object-fit: cover;
    object-position: center;
    width:135px;
    height:200px;
    opacity: .2;
    transition: opacity .3s ease-in-out;
}
.stories__video-container:hover .stories__bg{
    opacity: .8;
}
.stories__title{
    position: absolute;
    bottom: 0;
    background: var(--fb-white);
    width: 100%;
    color: var(--fb-black);
    padding: 14px 2px 15px 0.5px;
    font-size: 1rem;
    text-align: center;
    line-height:1.4;
    
    
}
.stories__new-btn{
    background: var(--fb-blue);
    width: 40px;
    height: 40px;
   color: var(--fb-white);
   display: flex;
   justify-content:center;
   align-items: center;
   border-radius: 50%;
   border: 4px solid var(--fb-white);
   position: absolute;
    top: -20px;
    left: 45px;
}
.stories__video-container--plain .stories__title{
    background: transparent;
    color: var(--fb-white)
}
.stories__user{
    border: 4px solid var(--fb-blue);
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius:50%;
    position: absolute;
    top: -113px;
    left: 10px;
}
.feed__box {
    padding: 20px;
    background: var(--fb-white);
    max-width: 700px;
    width: 100%;
    flex: none;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px var(--shadow-color);
    margin-bottom: 20px;
}
.newpost{
    display: flex;
    margin-bottom: 10px;
}
.newpost__user-img{
    width: 50px;
    height: 50px;
    border-radius:50%;
    margin-right: 10px;
}
.newpost input[type="text"] {
    background : var(--fb-bgcolor);
    padding : 10px;
    border-radius: 25px;
    border:none;
    font-size: 1.2rem;
    color: var(--light-color-text);
    padding-left: 20px;
    font-weight: 300;
    width:100%;
    cursor: pointer;

}
.newpost input:hover{
    background : #DADDE1;
}
.hline{
    height: 1px;
    background: var(--button-link);
    margin-bottom: 15px;
    display:block;
}
.post-type{
    display: flex;
    justify-content:space-between;
}
.post-type__item{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    width:100%;
    cursor: pointer;
}
.post-type__item:hover{
    background: var(--fb-bgcolor);
}
.post-type__item .fas, .post-type__item .far{
    margin: 10px;
    font-size: 1.5rem;
}
.post-type__item .fa-video{
    color: var(--fb-red);
}
.post-type__item .fa-photo-video{
    color: var(--fb-green);
}
.post-type__item .fa-laugh-beam{
    color: var(--fb-yellow);
}
.video__chat-box{
    display: flex;
    justify-content:space-between;
    padding-left:25px;
    align-items: center;
    background: var(--fb-white); 
    max-width: 700px;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px var(--shadow-color);
    margin-bottom: 20px; 
    padding: 30px;
}
.video__create-room{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    height: 20px;
    padding: inherit;
    width: fit-content;
    cursor: pointer;
}
.video__chat-box :hover{
    background: var(--button-link);
}
.video__chat-friends:hover{
background: none;
}
.video__create-room i{
   margin-right: 10px;
   color: var(--fb-blue);
}
.video__title{
color:rgb(255, 103, 255);
font-weight: 700;
font-style: border;
}
.video__chat-friends{
    display:flex;
    justify-content: center;
    align-items: center;
}
.video__chat-img{
    border-radius: 50%;
height: 40px;
width: 40px;
margin-right: 20px;
object-fit: cover;
object-position: center;
}
.video__active-bubble{
    background: var(--fb-green);
border: 1.2px solid var(--fb-white);
display: flex;
justify-content: center;
align-items: center;
width: 10px;
height: 10px;
border-radius: 50%;
position: relative;
top: 13px;
right: 30px;
}

.photopost{
    padding: 0 0 20px;
    margin-bottom: 20px;
}
.photopost__info{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 20px 20px ;
    
}
.photopost__left{
    display: flex;
    justify-content:center;
    align-items: center;
}
.photopost__left img {
    width: 40px;
    height: 40px;
    border-radius:50%;
    margin: 10px 10px 10px 0px;
}.photopost__details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.photopost__name{
    font-size:.9rem;
    margin-bottom: 5px;
    font-weight: 400;
}
.photopost__date{
    font-size: .87em;
    color: var(--light-color-text);
}
.photopost__info .fa-ellipsis-h{
    color: var(--light-color-text);
}
.photopost__description{
padding: 0 20px;
margin-bottom: 20px;
}
.photopost__image img {
    width: 100%;
}
.photopost__stats{
    height: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 20px;
    color: var(--light-color-text);
    font-weight: 300;
    font-size: .9rem;
}
.photopost__stats-emojis{
    display: flex;
    justify-content:center;
    align-items: center;
}
.emoji-circle{
    display: flex;
    width: 22px;
    height: 22px;
    background: black;
    color: white;
    justify-content:center;
    align-items: center;
    font-size: .4rem;
    border-radius: 50%;
    border: 2px solid white;
    position: relative;
}
.emoji-circle:nth-child(1){
    z-index: 3;
}
.emoji-circle:nth-child(2){
    left: -5px;
    z-index: 2;
}
.emoji-circle:nth-child(3){
    left: -10px;
    z-index: 1;
}
.emoji-circle--blue{
    background:linear-gradient(90deg, rgba(7,64,113,1) 0%, 
    rgba(10,134,240,1) 100%);
}
.emoji-circle--red{
    background:linear-gradient(90deg, rgba(96,6,19,1) 0%, 
    rgba(238,35,64,1) 100%);
}
    .emoji-circle--yellow{
    background:black;
    overflow:hidden;
    }
.emoji-circle-blue .fa-thumbs-up{
    position: relative;
    top:1px;
}
.emoji-circle--yellow .fa-surprise{
    color:rgba(246,176,36,1);
    font-size: 1.3rem;
    position: relative;
    top:1px;
}
.photopost__actions{
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 20px;
}
.photopost__link{
    display: flex;
    justify-content:center;
    align-items: center;
    color: var(--light-color-text);
    width: 100%;
    text-decoration: none;
}
.photopost__link .fas{
    margin-right: 10px;
}
.sidenav__active-bubble{
    background: var(--fb-green);
    border: 1.2px solid var(--fb-white);
    display:flex;
    justify-content:center;
    align-items: center;
    width: 10px;
    height: 10px;
    border-radius:50%;
    position: relative;
    left: -30px;
    top: 14px;
   

}
.sidenav__right{
    width: 20%;
    max-width: 360px;
}
.sidenav__contact-box{
    display: flex;
    justify-content: space-between;
    text-align: center; 
}
.sidenav__right-icons{
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--fb-whiteng);
    cursor: pointer;
}
.sidenav__right-icons i:hover{
    color: var(--fb-blue);
    cursor: pointer;
}
.sidenav__right-icons i {
    margin-left: 20px;
}
.floatingmsg{
    position:fixed;
    bottom: 0;
    right: 20px;
}
.floatingmsg__bubble{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 5px 10px 0px var(--shadow-color);
    background: var(--button-link);
    margin-bottom:10px;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.floatingmsg__bubble img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.floatingmsg__bubble:hover .fa-edit{
    color: var(--fb-blue);
}

.floatingmsg__notification{
    background: var(--fb-red);
    color: white;
    width: 20px;
    height: 20px;
    border-radius:50%;
    font-size:.8rem;
    display:flex;
    justify-content:center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top:-5px;
    right: -5px;
    font-weight: 700;
    z-index: 3;
}

@media only screen and (max-width:1300px){
    .header__menu-tabs{
        display:none;
    }
    .feed{
        width: 100%;
    }
   
}

@media only screen and (max-width:1000px){
    .sidenav{
        display: none;
    }
    .sidenav__right{
        display: none;
    }
}

@media only screen and (max-width:768px){
    .header__user-img{
        display:none;
    }
    .header__user-name{
        display:none;
    }
    .header__logo-search input[type="text"]{
        width: 40px;
        height: 40px;
        padding: 0;
    }
    
    .header__mobile-button{
        display: flex;
    }
    
    .feed{
        display:block;
    }
    
    .header__logo-search .fa-search {
        left: 12px;
        top: 12px;
        padding: 0;
    }
    .stories{
        width: 100%;
        flex-wrap: nowrap;
        z-index: 9;
        padding-bottom: 20px;
        overflow-x:scroll ;
        margin-bottom: 20px;
    }
    .stories__video-container{
        flex: 1 0 auto;
    }
    .content-area--feed{
        width: 100%;
    }
    .container{
        width: 100%;
    }
    .video__chat-box{
        
        width: 100%;
        flex-wrap: nowrap;
        z-index: 9;
        padding-bottom: 20px;
        overflow-x:scroll ;
    }
    
    
}
@media only screen and (max-width:500px){
    .header__account{
        display:none;
    }
    .post-types__title{
        display: none;
    }
    .video__chat-box{
        display: none;
        width: 100%;
        flex-wrap: nowrap;
        z-index: 9;
        padding-bottom: 20px;
        overflow-x:scroll ;
    }
    
}